<!--FRONTEND FOR REGISTERING BOOKS TO SELL-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book Listing</title>
    <link rel="stylesheet" type="text/css" href ="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<!--Navigation bar-->
<div th:replace="fragments/nav :: nav-bar">

</div>
<!--end of Navigation bar-->


    <div class="container text-center">
        <div>
            <h1>Book Information</h1>
        </div>
    </div>



</body>
</html>