<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href ="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<!--Navigation bar-->
    <div th:replace="fragments/nav :: nav-bar">

    </div>
    <!--end of Navigation bar-->

    <div class = "container text-center">
        <div>
            <form th:action="@{/logout}" method = "post">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.getFullName}]]</b>
                </p>

                <input type="submit" value="logout"/>
            </form>
        </div>
        <div>

            <!--link to upload book to db to sell-->
            <h2><a th:href="@{/books}">View All Books</a> </h2>
            <h2><a th:href="@{/departments}">View Departments</a></h2>
            <h2><a th:href="@{/authors}">View All Authors</a></h2>

        </div>
    </div>
</body>
</html>